<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.tkurek.wat.Etl.mapper.MetadataMapper">

    <insert id="insertLogImporter" useGeneratedKeys="true" keyProperty="brand.id" keyColumn="id">
        insert into logImporter (tableName, importTime, success)
         values (#{logImporter.tableName}, #{logImporter.importTime}, #{logImporter.success});
    </insert>

    <select id="findLastTimestampForTable" resultType="java.sql.Timestamp">
        select max(importTime) from logImporter
         where tableName = #{className} and success = 1;
    </select>

    <insert id="insertBadDelivery">
        insert into badDelivery (idDelivery, nameProvider, codeProduct, quantityProduct, timestampFrom, timestampTo)
        values (#{delivery.idDelivery}, #{delivery.nameProvider}, #{delivery.codeProduct}, #{delivery.quantityProduct}, #{delivery.timestampFrom}, #{delivery.timestampTo});
    </insert>

    <insert id="insertBadSale">
        insert into badSale (idSale, codeProduct, nameShop, quantityProduct, timestampFrom, timestampTo)
        values (#{sale.idSale}, #{sale.codeProduct}, #{sale.nameShop}, #{sale.quantityProduct}, #{sale.timestampFrom}, #{sale.timestampTo});
    </insert>

    <select id="selectAllBadDelivery" resultType="com.tkurek.wat.Etl.model.stage.Stage_Delivery">
        select * from badDelivery;
    </select>

    <select id="selectAllBadSale" resultType="com.tkurek.wat.Etl.model.stage.Stage_Sale">
        select * from badSale;
    </select>

    <delete id="cleanTable">
        delete from ${tableName};
    </delete>

</mapper>